@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Bold.eot');
	src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Thin.eot');
	src: url('../fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Thin.woff') format('woff'),
		url('../fonts/RobotoSlab-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Light.eot');
	src: url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Light.woff') format('woff'),
		url('../fonts/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Regular.eot');
	src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Regular.woff') format('woff'),
		url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-BoldItalic.eot');
	src: url('Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-BoldItalic.woff') format('woff'),
		url('Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Bold.eot');
	src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Bold.woff') format('woff'),
		url('Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Italic.eot');
	src: url('Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Italic.woff') format('woff'),
		url('Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-LightItalic.eot');
	src: url('Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-LightItalic.woff') format('woff'),
		url('Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-MediumItalic.eot');
	src: url('Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-MediumItalic.woff') format('woff'),
		url('Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Light.eot');
	src: url('Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Light.woff') format('woff'),
		url('Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu.eot');
	src: url('Ubuntu.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu.woff') format('woff'),
		url('Ubuntu.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Medium.eot');
	src: url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Medium.woff') format('woff'),
		url('Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'surge';
    src: url('../fonts/surge.eot');
    src: url('../fonts/surge.eot?#iefix') format('embedded-opentype'),
         url('../fonts/surge.woff') format('woff'),
         url('../fonts/surge.ttf') format('truetype'),
         url('../fonts/surge.svg#surge') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='surge-logo-']:before{
	display: inline-block;
   font-family: 'surge';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   // -webkit-font-smoothing: subpixel-antialiased;
   // -moz-osx-font-smoothing: grayscale
}
.surge-logo-stacked:before{content:'\0041';}
.surge-logo-long:before{content:'\0042';}
.surge-logo-symbol:before{content:'\0043';}
.surge-logo-stacked-block:before{content:'\0044';}
.surge-logo-long-block:before{content:'\0045';}

/* Generated by Glyphter (http://www.glyphter.com) on  Mon Jun 20 2016*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon-font,
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrow-left:before{content:'\0041';}
.icon-arrow-right:before{content:'\0042';}
.icon-icon-PHONE:before{content:'\0043';}
.icon-icon-social-FB:before{content:'\0044';}
.icon-google-plus:before{content:'\0045';}
.icon-linkedin:before{content:'\0046';}
.icon-twitter-black-shape:before{content:'\0047';}