/*==================================
=            Typograhpy            =
==================================*/
body {
    font-family: $primary-font;
    line-height: 1;
    font-size: 10px;
    background-repeat: no-repeat;
    font-weight: 100;
    color: #000;
}

h1,
.h1 {
	font-family: $secondary-font;
	font-style:normal;
	font-weight:800;
	text-shadow:none;
	font-size:5em;
}
h2,
.h2  {
	font-family: $secondary-font;
	text-shadow:none;
	font-weight:100;
	font-size:3em;
}
h3,h6 {
	font-size:2.6em;
	color:$pink;
	font-weight:200;
}

p {
	font-family:$primary-font;
	font-weight:400;
	font-size: 1.8em;
    line-height: 1.75em;
	color:$color3;
}
h2,.h2 { font-size:6em;   }
.h3 { font-size:3.6em; }

p { margin-bottom:2em;}
.p1 { font-size:6em; line-height:1.7em;  }
.p2 { font-size:4.8em; line-height:1.7em;}
.p3 { font-size:3.6em; line-height:1.7em;  }
.p4 { font-size:3em; line-height:1.7em;  }
.p5 { font-size:2.4em; line-height:1.7em;  }
.p6 { @extend .p5;
    	font-size: 2em;
    	line-height: 1.8em;
    }


.padding-6 {
	padding-top:6.5em;
	padding-bottom:6.5em;  
}
.bg-cover {
	background-size:cover;
}

.bg-grey {
	background-color:$grey;

}
.bg-light-grey {
	background-color:$light-grey;

}
.bg-dark-grey {
	background-color:$dark-grey;

}
.border {
	border:2px solid $grey;
}

.padding-0-5 {
	padding:5.5em;
}

section {
	    // border-top: 1px solid #FF00B1;
    // border-bottom: 1px solid #FF00B1;
}
.rounded {
	border-radius:100%;
	height:auto;
	// min-height: 470px;
    width: 90%;
    display:inline;
}