// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Colors
$color1: #FF4082;
$color2: #0096A6;
$color3: #737373;
$color4: #13181C;
$color5: #F5F5F5;
$color6: #C1C6C8;

$brand-primary:  $color1;
$pink: $color1;
$blue: $color2;
$black: $color4;
$light-grey: $color5;
$dark-grey: $color3;
$grey: $color6;

$gray : $color6;

$primary-font: "Klavika Basic","Helvetica","Arial","sans-serif";
$secondary-font: "Roboto Slab","Helvetica Neue","Helvetica","Arial","sans-serif";
$thin-font: 'Klavika Basic Light',"Helvetica","Arial","sans-serif";